* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$bgColor: pink;
$fontSize: 1.2rem;
$fontColor: white;
$navBgColor: #30a7c3;
$fontFamily: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$bannerBgColor: hotpink;

body {
  font-family: $fontFamily;
  background-color: $bgColor;
  font-size: $fontSize;
  color: $fontColor;
}
